.txt-group{
    position: relative;
    display:inline-block
}
.txt-group input{
    width: 452px;
    height: 60px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.08);
    box-sizing: border-box;

    /* font styles */
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

    padding-left: 16px;
    padding-top: 26px;
    color: rgba(0, 0, 0, 0.9);
}
.txt-group input::placeholder{
    color: transparent;
}
.txt-group label{
    position: absolute;
    left: 16px;
    top: 19px;

    /* font styles */
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.4);
    transition: all 0.1s;
}
.txt-group input:focus + label,
.txt-group input:not(:placeholder-shown) + label{
    top: 7px;
    font-size: 13px;
}
.txt-group span{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FFA00A;
    padding-left: 2px;
} 